<div class="body bg-dark">
  <div class="container text-center p-5 text-light">
    <h1>User Information Grid</h1>
    <p>This page shows the basic information of users</p>
    <p>
      <button class="btn btn-primary" (click)="goToPage()">Create a New User</button>
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="user image">
          <div class="card-body">
            <h5 class="card-title">UserName</h5>
            <p class="card-text">Information about user</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div><div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="user image">
        <div class="card-body">
          <h5 class="card-title">UserName</h5>
          <p class="card-text">Information about user</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div><div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="user image">
        <div class="card-body">
          <h5 class="card-title">UserName</h5>
          <p class="card-text">Information about user</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="user image">
          <div class="card-body">
            <h5 class="card-title">UserName</h5>
            <p class="card-text">Information about user</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="user image">
          <div class="card-body">
            <h5 class="card-title">UserName</h5>
            <p class="card-text">Information about user</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="user image">
          <div class="card-body">
            <h5 class="card-title">UserName</h5>
            <p class="card-text">Information about user</p>
            <a href="/user-information" class="btn btn-primary" style=''>Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#" class="text-bg-light">Back to top</a>
      </p>
      <p class="text-light">user grid example</p>
    </div>
  </footer>


</div>
